.topnav {
  background-color: rgb(51, 51, 51);
  overflow: hidden;
}
.marginate {
  font-family: "Courier New", Courier, monospace;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: red;
  color: green;
}
.card-title {
  color: white;
  background-color: black;
  font-family: "Comic Sans MS";
}
.side-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  overflow-y: scroll;
  width: 140px;
}
